@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Prociono|Ropa+Sans');

/*
font-family: 'Prociono',serif;
font-family: 'Ropa Sans',
sans-serif;
*/

* {}

html,
body,
nav,
article,
aside section footer {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #EBE8E5;
}

body {
    margin: auto;
    text-align: center;
    width: 960px;
}

/*Menu NAV topo*/

.nav-url img {
    float: left;
    margin: 5px;

}

.nav-url {
    /*    background: #FA7D26;*/
    background: #FF5617;
    height: 60px;
    width: 960px;
    border: black;
}



.nav-url ul li {
    /*    border: black;*/
    display: inline-block;
    font-size: 1.4em;
    float: left;
    margin: 1px;
    padding: 11px;
    text-transform: uppercase;
}


.nav-url a img {
    transform: scale(.8);
    float: left;
}

.nav-url a img:hover {
    transform: scale(1.1);

}

.nav-url ul li a {
    color: white;
    display: inline-block;
    text-shadow: 1px 2px 2px #f0c575;
    text-decoration: none;
}

.nav-url ul li :hover {
    color: black;
    transition: .3s ease;
    transform: scale(1.5);
}

/*Menu de Navegaçao e Busca*/

.menu-ux {

    background: #FF8316;
    float: left;
    width: inherit;
    /*    font-size: 1.5em;*/
}

.menu-ux p {
    float: left;
    margin-left: 5px;
    text-transform: uppercase;

}


.busca {
    float: right;
    padding-top: 10px;
    margin-right: 5px;

}

.busca input {
    /*    border-radius: 10px;*/
    height: 25px;
    padding-left: 10px;
}

/*Article do Enredo*/

.historia {
    background: #ebe8e5;
    float: left;
    padding-right: 20px;
    text-align: justify;
    width: 620px;
}

/*Fonte "p" do article */

article p {
    font-family: 'Prociono', serif;
}

/*Article do Detonado*/

.detonado {
    background: #ebe8e5;
    float: right;
    padding: 5px 10px;
    text-align: justify;
    width: 620px;
}

/*Section da Noticias*/

.noticia {
    /*    background: orange;*/
    float: left;
    padding-left: 5px;
    text-align: left;
    /*    width: 450px;*/
}

.noticia h2 {
    display: none;

}

.noticia ul li {
    float: left;
    background: #6F8088;
    display: inline-block;
    width: 220px;
    padding: 30px;
    height: 370px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
    list-style: none;
}

.noticia ul li figure {
    margin-left: 10px;
    /*    background: red;*/
    /*    opacity: .2;*/
}

.noticia ul li:hover {
    cursor: pointer;
    transition: .9s ease;
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 10px hsl(199, 7%, 38%);
}

.noticia ul li figure img {

    transform: scale(1.2);
    /*    box-shadow: 0px 0px 40px 10px black;*/
}

.noticia figcaption {

    color: white;
    margin-top: 2em;
    font-size: 1.6em;
    /*    text-transform: uppercase;*/
}

.info {
    background: red;
    float: left;
    padding: 5px;
    text-align: center;
    width: 310px;
    height: 780px;
}

/*Aside contedo o sumario do Detonado*/

.sumario {
    background: #E85914;
    font-size: 1.3em;
    float: right;
    padding: 10px;
    text-align: left;
    width: 300px;
}

.sumario ol {
    background-color: rgba(0, 0, 0, 0.05);
}

.sumario li {
    padding: 20px;
    list-style: none;
}

.sumario li a {
    color: aliceblue;
}

.sumario a:hover {

    color: black;
    border-radius: 5px;
}

/*Tabela */

table,
tr,
th,
td {
    border: 2px solid #939393;
    border-collapse: collapse;
    color: aliceblue;
    margin: 5px auto;
    padding: 1px;
    text-align: left;
}



.topo {

    left: calc(100% - 180px);
    position: fixed;
    top: calc(100% - 63px);
    opacity: .5;
}

.topo:hover {
    opacity: 1;
}

.mod1 {
    background: #FFB43C;
    /*    border: solid 1px blue;*/
    margin: 4px;
    float: left;
    padding: 9px;
    width: 451px;
    text-align: justify;
}

.mod1 img {
    margin: auto 100px;
}

/*formulario contato*/

.contato {
    clear: both;
    padding: 1em;
    text-align: left;
}

.contato button {
    clear: both;
    float: left;
}


#identificacao {
    float: left;
    width: 410px;
}

#identificacao input {
    width: 80%;
}

#preferencias {
    float: left;
    width: 410px;
}

#preferencias select {

    width: 80%;
}

#recado {
    clear: both;
    float: left;
    width: 410px;
}

#recado textarea {
    width: 400px;
    height: 100px;

}

#ajuda-form {
    float: right;
    margin-top: 8px;
    padding: 0px;
    width: 420px;
    height: 560px;
}

label {
    /*    Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas*/
    display: inline-block;
    width: 50px;
    /*    background: red;*/
    margin-right: 10px;
    text-align: left;
}

.posicao {
    width: 100px;
}

input [type="text"] {
    /*    margin: 0px auto;*/
    /*    width: 90%;*/
}

/*Rodape*/

footer {
    /*    background: #00A287;*/
    background: #B0461C;
    clear: both;
    color: aliceblue;
    height: 270px;
    padding-left: 10px;
    text-align: left;
}

footer a {
    color: aliceblue;
}

footer p {
    float: left;
    font-size: 1.7em;
    margin: 15px 0px 20px 0px;
    width: 376px;
}

footer img {
    float: left;
    margin: 5px 10px 5px 5px;
    opacity: 0.5;
    border-radius: 100px;
}

footer img:hover {
    opacity: 1;
    border-radius: 0px;
}

#perfil {

    font-size: 1.1em;
    margin: 0px;
    width: 460px;
}




.nav-url-footer {
    float: left;
}

.nav-url-footer ul li {
    list-style-type: none;
    margin-left: 73px;
    text-transform: uppercase;
}



.social li {
    display: inline-block;
    height: 119px;
}

.social ul {
    float: right;
    height: 140px;
    margin-top: -65px;
    width: 290px;
}

.social a {
    background: url('../imagem/social.png');
    display: inline-block;
    height: 90px;
    width: 91px;

}

#face {

    background-position: 0px 92px;
    opacity: 0.5;
}

#face:hover {
    opacity: 1;
    background-position: 0px 0px;
}

#inst {
    background-position: 184px 93px;
    opacity: 0.5;
}


#inst:hover {
    background-position: 184px 0px;
    opacity: 1;
}

#twi {
    background-position: 93px 93px;
    opacity: 0.5;
}

#twi:hover {
    background-position: 93px 0px;
    opacity: 1;
}

/*
#inicio {
    float: left;
    width: 30%;
}*/
