@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

/*font-family: 'Ropa Sans', sans-serif;*/

html,
body,
nav,
article,
aside section footer {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgba(31, 25, 25, 0.9);
}

body {
    margin: auto;
    text-align: center;
    width: 960px;
}

.nav-url img {
    float: left;
    margin: 5px;
}

.nav-url {
    /*    background: #FA7D26;*/
    background: #4d4d4d;
    height: 60px;
    width: 960px;
}

.nav-url ul li {

    display: inline;
    font-size: 1.8em;
    float: left;
    padding: 11px;
    text-transform: uppercase;


}

.nav-url a {
    color: #ff6b04;
    text-decoration: none;
}

.nav-url ul li :hover {
    text-shadow: 1px 1px 50px #FA7D26;
    /*    background-color: #FA7D26;*/
}

/*Menu de Navegaçao e Busca*/

.busca {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.menu-ux {
    background: yellow;
    float: left;
    height: 40px;
    margin-left: 0px;
    text-transform: uppercase;
    width: inherit;
}



.menu-ux p {
    padding-top: 10px;
    float: left;
    margin: 0px;
    width: 200px;
    text-transform: uppercase;
}


/*Article do Enredo*/

.historia {
    background: #ebe8e5;
    float: left;
    padding-left: 10px;
    text-align: left;
    width: 630px;
}

/*Article do Detonado*/

.detonado {
    padding-top: 50px;
    background: orange;
    text-align: left;
    float: right;
    width: 620px;
    padding: 10px;
}

/*Section da Noticias*/

.noticia {
    background: orange;
    text-align: left;
    float: left;
    width: 450px;
}

/*Aside do Enredo (Tabela)*/

.info {
    background: red;
    float: left;
    text-align: center;
    width: 310px;
    padding: 5px;
}

/*Aside contedo o sumario do Detonado*/

.sumario {
    position: fixed;
    background: red;
    float: right;
    text-align: left;
    margin-top: 41px;
    width: 300px;
    height: 430px;
    padding: 10px;
}


/*Tabela */

table,
tr,
th,
td {
    margin: 0px auto;
    border: 1px solid black;
    border-collapse: collapse;
}



.topo {
    position: fixed;
    top: calc(100% - 63px);
    left: calc(100% - 62px);
    background: hsla(0, 0%, 100%, 0.29);
    color: antiquewhite;
    width: 60px;
    height: 60px;
}

.mod1 {
    float: left;
    padding: 10px;
    width: 458px;
    background: #ebe8e5;
    border: solid 1px blue;
}

/*formulario contato*/

.contato {
    clear: both;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    background: red;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: auto;
    text-align: right;
}


/*Rodape*/

footer {
    background: #00A287;
    clear: both;
    height: 270px;
    padding-left: 10px;
    text-align: left;
}

footer p {
    float: left;
    font-size: 1.7em;
    margin: 15px 0px 20px 0px;
    width: 470px;
}

footer img {
    float: left;
    margin: 5px 10px 5px 5px;
    border-radius: 100px;
}

.nav-url-footer {
    float: left;
}

.nav-url-footer ul li {
    list-style-type: none;
    margin-left: 73px;
}

#perfil {

    font-size: 1.1em;
    margin: 0px;
    width: 460px;
}



.social li {
    display: inline-block;
}

.social ul {
    float: right;
    margin: 0px;
    padding: 0px;
    width: 285px;
    height: 90px;
}

.social a {
    display: inline-block;
    background: url('../imagem/social.png');
    width: 91px;
    height: 90px;

}


#face {

    background-position: 0px 92px;
}

#face:hover {
    background-position: 0px 0px;
}

#inst {
    background-position: 184px 93px;
}

#inst:hover {
    background-position: 184px 0px;
}

#twi {
    background-position: 93px 93px;
}

#twi:hover {
    background-position: 93px 0px;
}
