@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

/*font-family: 'Ropa Sans', sans-serif;*/

html,
body,
nav,
article,
aside section footer {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #EBE8E5;
}

body {
    margin: auto;
    text-align: center;
    width: 960px;
}

/*Menu NAV topo*/

.nav-url img {
    float: left;
    margin: 5px;
}

.nav-url {
    /*    background: #FA7D26;*/
    background: #FF5617;
    height: 60px;
    width: 960px;
}



.nav-url ul li {

    display: inline-block;
    font-size: 1.4em;
    float: left;
    margin: 1px;
    padding: 11px;
    text-transform: uppercase;
}

.nav-url a {
    color: white;
    text-decoration: none;
}

.nav-url ul li :hover {
    /*    text-shadow: 1px 1px 50px #FA7D26;*/
    background-color: #FF6931;
    color: black;

}

/*Menu de Navegaçao e Busca*/

.menu-ux {
    background: yellow;
    float: left;
    width: inherit;

}

.menu-ux p {
    float: left;
    margin-left: 5px;
    text-transform: uppercase;
}


.busca {
    float: right;
    padding-top: 10px;
    margin-right: 5px;

}

.busca input {
    border-radius: 10px;
    height: 25px;
    padding-left: 10px;
}

/*Article do Enredo*/

.historia {
    background: #ebe8e5;
    float: left;
    padding-left: 10px;
    text-align: left;
    width: 630px;
}

/*Article do Detonado*/

.detonado {
    background: orange;
    float: right;
    padding: 50px 10px;
    text-align: left;
    width: 620px;
}

/*Section da Noticias*/

.noticia {
    background: orange;
    float: left;
    text-align: left;
    width: 450px;
}

/*Aside do Enredo (Tabela)*/

.info {
    background: red;
    float: left;
    padding: 5px;
    text-align: center;
    width: 310px;
    height: 780px;
}

/*Aside contedo o sumario do Detonado*/

.sumario {
    background: red;
    float: right;
    height: 430px;
    padding: 10px;
    text-align: left;
    width: 300px;
}


/*Tabela */

table,
tr,
th,
td {
    margin: 0px auto;
    border: 1px solid black;
    border-collapse: collapse;
}



.topo {
    background: hsla(0, 0%, 100%, 0.29);
    color: antiquewhite;
    left: calc(100% - 62px);
    height: 60px;
    position: fixed;
    width: 60px;
    top: calc(100% - 63px);
}

.mod1 {
    background: #ebe8e5;
    border: solid 1px blue;
    margin: 4px;
    float: left;
    padding: 10px;
    width: 449px;
}

/*formulario contato*/

.contato {
    background: red;
    clear: both;
    padding: 1em;
    margin: 0 auto;
    text-align: left;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 50px;
    margin-right: 10px;
    text-align: left;
}

input {
    /*    margin: px;*/
}

/*Rodape*/

footer {
    background: #00A287;
    clear: both;
    height: 270px;
    padding-left: 10px;
    text-align: left;
}

footer p {
    float: left;
    font-size: 1.7em;
    margin: 15px 0px 20px 0px;
    width: 376px;
}

footer img {
    float: left;
    margin: 5px 10px 5px 5px;
    /*    border-radius: 100px;*/
}

#perfil {

    font-size: 1.1em;
    margin: 0px;
    width: 460px;
}




.nav-url-footer {
    float: left;
}

.nav-url-footer ul li {
    list-style-type: none;
    margin-left: 73px;
}



.social li {
    display: inline-block;
    height: 119px;
}

.social ul {
    float: right;
    height: 140px;
    margin-top: -65px;
    width: 290px;
}

.social a {
    background: url('../imagem/social.png');
    display: inline-block;
    height: 90px;
    width: 91px;

}

#face {

    background-position: 0px 92px;
    opacity: 0.5;
}

#face:hover {
    opacity: 1;
    background-position: 0px 0px;
}

#inst {
    background-position: 184px 93px;
    opacity: 0.5;
}


#inst:hover {
    background-position: 184px 0px;
    opacity: 1;
}

#twi {
    background-position: 93px 93px;
    opacity: 0.5;
}

#twi:hover {
    background-position: 93px 0px;
    opacity: 1;
}
